.columna {
    background-color: rgba(210, 44, 207, 0.851);
    color:white;
    font-size: 30px;
    border: 2px solid rgb(23, 156, 5);
}
h1{
    font-size: 3.5vw; 
    font-family:"Shadows Into Light"; 
}
.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}
.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}
.navbar{
    padding: 5px;
    background-color:#98FB98;
}
.hero{
    background-color: #f5f6f7; 
    min-height: 400; 
    text-align: center; 
}
section {
    display:flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
}
h1{
    font-size: 4.5vw; 
}
.hero-imatge-developer{
    max-width:200px;
    max-height:200px;
    margin:20px;
}
.hero-inferior img{
    width:30%;
}
.dark-section{
    color:white;  
    background-color:#1B5E20;
}
.about-me{
    height: 500px;
    padding:10px;
}
.about-me div{
    max-width: 600px;
    text-align:center;
}
.section-title{
  font-size:clamp(14px,2.5vw,50px);   
  font-family:"Shadows Into Light"; 
  padding: 5px 0; 
}
.section-text{
    font-size: 1.75vw; 
    padding: 15px 0;
}
@media screen and (max-width: 768px) {
.navbar-brand {
    display: none;
}  
.about-me{
    height: 200px;
}
.btn-responive {
    font-size: 11px; padding: 6px 12px;
    }
}
.white-section{
    color:black;  
    background-color: white; 
}
.experiencia-title{
    font-size:2.0vw;
    font-weight: bold;
    margin: 10px 0;
}
.experiencia{
    padding: 40px 40px 60px 40px;
}
.experiencia i{
    font-size: 2vw;
    color: #7ade30;
    background-color:#0a0a23 ;
    padding:8px 19px;
    border-radius: 50%;
}
.columna{
  margin-bottom: 10px;
}
.badges-contenedor{
  font-size:1.5vw;
  font-weight: bold;
  margin: 10px 0;
}
.badge{
  margin: 5px,
}
.badges-contenedor{
  font-size:clamp(12px,1.5vw,50px); 
  font-weight: bold;
  margin: 10px 0;
}
.experiencia i{
  font-size:clamp(14px,2vw,50px); 
  color: #7ade30;
  background-color:#011e08 ;
  padding:8px 19px;
  border-radius: 50%;
}
.experiencia .columna:hover i{
  font-size:clamp(14px,2vw,50px); 
  color: #011e08;
  background-color:#7ade30;
  padding:8px 19px;
  border-radius: 50%;  
  transition: all 0.35s ease-in; 
}
.experiencia-title{
  font-size:clamp(14px, .8w,50px);    
  font-weight: bold;
  margin: 10px 0;
}
.experiencia .columna{
  margin-bottom: 10px;
  padding: 20px;
  border: 4px solid #0000004d;
  background-color: #1A7431;
}
.experiencia .columna:hover{
  color:white;
  background-color: black;
  border: 2px solid #7ade30;
}
.experiencia .columna{
  margin-bottom: 10px;
  padding: 20px;
  border: 2px solid #8080804d;
  transition: all 0.45s ease-in;
}
.experiencia-text{
  font-size:clamp(8px,1.25vw,30px);   
}
.black-text{
  color: black;
}
.section-description{
  font-size:clamp(14px,2vw,50px); 
  color: #584343;
}
.projectes{ 
    padding: 40px; 
    display: flex; 
    gap: 20px; 
} 
.projectes img{ 
    height: 100%; 
    width: 100%; 
    padding:10px;
    border-radius: 10px; 
    transition: all 0.3s ease; 
} 
.projectes-container{
    padding-top: 60px; 
    margin-bottom: 40px; 
} 
.overlay{ 
    transition: all 0.3s ease; 
    opacity: 0; 
    position: absolute; 
    top:50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
} 
.overlay p{ 
    font-size:clamp(14px,2.5vw,30px); 
    margin-bottom: 0; 
} .projecte{ 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
} 
.projecte img{ 
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 8px; 
} 
.projecte:hover img{ 
    opacity: 0.2; 
} 
.projecte:hover .overlay{ 
    opacity: 1; 
} 
.overlay .icones-contenidor{ 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
} 
.overlay i{ 
    color: black; 
    font-size: 60px; 
    margin: 10px; 
}
.video{
  position: relative;
  width: 100%; 
  padding-top: 56.25%; 
}
.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.projecte h2{
  font-size:clamp(19px,2.5vw,30px); 
  margin: 10px 0;
}
.projecte p{
  font-size:clamp(14px,2vw,25px);  
  margin: 10px 0 30px 0px;
}


footer {
  min-height: 500px;
}
.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}
.footer-text {
  padding: 20px;
  margin-bottom: 30px;
  font-size:clamp(14px,2.5vw,50px);     
  font-family:"Vast Shadow";
}
.social-icons a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
.social-icons i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}
.social-icons a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}
.social-icons a:hover i {
  color: black;
}
.drets {
  font-size: 15px;
  color: white;
  padding: 20px;
}

