header{
    background-color: #808080;
   
    nav li a {
        color:black;
        text-decoration: none;
        background-color: white;
        border: 2px outset black;
        margin: 10px;
        padding: 10px;
    }
    nav li{
        display: inline;
    }
aside nav h1{
    text-size-adjust: 7px;
} 
}
body{
    background-color: rgb(230, 230, 230);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
     text-align: center;
    }
#logo{
    display: flex;
    align-items: center;
}

#logo img {
    width: 150px;
}

section article h1{
    padding: 5px;
    font-size: 22px;
}
section article h2{
    font-size: 20px;
    padding: 7px;
    margin: 2px;
}
section article h3{
    font-size: 15px;
    padding: 2px;
}
section article img{
    display:flex;
    border: 3px solid black;
    margin: 2px;
    padding: 7px;
    border-radius: 20px;
    width: 200px;
    max-height: 200px;
    object-fit: contain;
    background-color: white;
}
header h2{
    padding: 12px;
}
div.static{
    position: static;
}
section{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
    margin:8px;
}
.cuadro{
    text-size-adjust: 50px;

}
body header a img{ 
    position: absolute;
    top:20px;
    right:20px;
    width: 30px;

}
nav .menu {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

nav .menu li a {
    text-decoration: none;
    color: #222;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

nav .menu li a:hover {
    background-color: #c1c1c1;  
    color: rgb(255, 255, 255);
}

section article button {
    text-align: right;
}

.contenedor{
    background-color: #808080;
    padding: 10px;
    max-width: 100%;
}
.poster{
    width:100%;
}
.poster img{
    width:500px;
}
aside footer{
    position:absolute;
    bottom: 40px;
}
body aside div button{
    align-items: right;
    align-items: center;
}
.fondo{
    background-image: url("../Fotos/Captura\ de\ pantalla\ 2025-11-24\ 153911-artguru.png");
    background-attachment: fixed;
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;  
    height: 400px;                
    display: flex;                 
}
.text {
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#publicidad{
    display: inline-block;
    align-items: center;
    width:400px;
    height:120px;
}
.bajar{
    bottom:100px;
}
footer{
    margin-top: 150px;
}
.redes a img{
     width:50px;
}
.textred{
    color: red;
}
.text{
    padding:20px;
}
